@model IEnumerable<Final.Models.Visits>

@{
    ViewData["Title"] = "Visits";
}

<h1>Visits</h1>
<nav>
    @Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("Doctors", "Index", "Doctors") |
    @Html.ActionLink("Patients", "Index", "Patients") |
    @Html.ActionLink("Visits", "Index", "Visits")
</nav>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.doctor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patient.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

              @Html.ActionLink(item.doctor.Name, "Details", "Doctors", new { id = item.DoctorId }, null)

            </td>
            <td>

             @Html.ActionLink(item.patient.Name, "Details", "Patients", new { id = item.PatientId }, null)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complaint)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
